* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  background: #0f172a;
  color: #e5e7eb;
  line-height: 1.6;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;
  background: rgba(15, 23, 42, 0.95);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 100;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 25px;
}

nav a {
  color: #e5e7eb;
  text-decoration: none;
  font-weight: 500;
}

nav a:hover {
  color: #38bdf8;
}

.hero {
  height: 100vh;
  text-align: center;
  padding-top: 130px;
}

.hero h1 {
  font-size: 46px;
}

.hero span {
  color: #38bdf8;
}

.hero h2 {
  font-size: 26px;
  margin: 10px 0;
}

.tagline {
  color: #94a3b8;
  margin-top: 10px;
}

.buttons {
  margin-top: 25px;
}

.buttons a {
  text-decoration: none;
  border: 1px solid #38bdf8;
  padding: 12px 25px;
  margin: 10px;
  color: #38bdf8;
  border-radius: 6px;
  transition: 0.3s;
}

.buttons a:hover {
  background: #38bdf8;
  color: black;
}

.section {
  padding: 100px 12%;
  text-align: center;
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  gap: 20px;
  margin-top: 25px;
}

.skills-grid div {
  background: #020617;
  padding: 15px;
  border-radius: 8px;
  border: 1px solid #38bdf8;
}

.skill-category {
  margin-top: 50px;
}

.project-card {
  background: #020617;
  padding: 25px;
  border-radius: 10px;
  margin: 25px auto;
  width: 80%;
  transition: 0.3s;
}

.project-card:hover {
  box-shadow: 0 0 20px #38bdf8;
  transform: scale(1.03);
}

.project-card a {
  color: #38bdf8;
  text-decoration: none;
}

.academic-note {
  margin-top: 15px;
  color: #cbd5f5;
}

footer {
  text-align: center;
  padding: 20px;
  border-top: 1px solid #38bdf8;
}

.hidden {
  opacity: 0;
  transform: translateY(50px);
  transition: 1s;
}

.show {
  opacity: 1;
  transform: translateY(0);
}
